<div class="center hero-unit">
	<div class="head">
	<%= image_tag("263.jpg", :align => 'left', :padding => '7px') %>
<center><h1>Who We Are</h1></center>
<br /><br />
<p>East Africa Metamorphosis Project was founded to help change a neglected region of the planet for the better.  We don’t think we have all the answers, but we want to do our part to help.  EAMP was founded by Rick Barkley and Isaac Julian after visiting Uganda and witnessing firsthand the plight of the children living on the streets.  Through war, disease, and extreme poverty the <b>orphan crises is one of the most acute in the world</b>.  To help the children our first project was to raise support for New Hope Orphanage which was directly impacting the lives of these little ones in a positive way. </p><br />

<p>After learning more about the situation in Africa we started our <b>microfinance</b> project which is now the primary approach EAMP has pursued as a catalyst for change.  We believe that through microcredit the lives of the children of Uganda will be dramatically impacted in a real and lasting way through the empowerment of their care givers.b</p>
</div>
</div>