<h1>Contact Us</h1>
<p>For More information please contact Rick Barkley at <%= mail_to "newhopeforafrica@gmail.com", "newhopeforafrica@gmail.com" %> or via phone at 512-698-8913</p>
<br />
<br />
<div class="contact">
<b><p>Thanks for your support!!</p></b>
</div>