<div class="center hero-unit">
	<div class="donate">
	<%= image_tag("Africa-092.jpg", :align => 'left') %>
	</div>
<h1>Donate</h1>
<p>Welcome to the donation page!  <b>Together, we can make a difference!</b> You can make a one-time donation with either a debit or credit card. All donations through this site are processed through PayPal. To donate your time, or set up a monthly donation please contact Rick Barkley at <%= mail_to "newhopeforafrica@gmail.com", "newhopeforafrica@gmail.com" %>. We are a IRS designated non-profit 501(c)3 organization so your contributions are tax deductible.  Please come back often to stay updated on what we are doing!<p>
<p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="6UNH9HCE4QBMU">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	</p>
	
	<div class="contact">
	<b><p>Thanks for your support!!</p></b>
	</div>
</div>