<div class="center hero-unit">
<h3>eLearning Project</h3>

<p>Nelson Mandela said, “Education is the most powerful weapon which you can use to change the world.”  After  traveling and working in East Africa, EAMP is launching our new eLearning initiative.  Technological breakthroughs as well as the proliferation of internet connectivity in East Africa is making access to educational resources ever more available.  EAMP is working with both cities and rural areas to develop and implement a strategy that not only educates youth and adults, but also connects them with available jobs whether they be in Africa or anywhere else in the world.  This not only opens up new opportunities through education, but spurs on economic growth in new and powerful ways.<p>
</div>
<div class="center hero-unit">
<h3>Micro-Finance Project</h3>

<p>One of the most surprising facts we learned while working at New Hope orphanage is that many of the children had care givers who were still alive. They were simply too poor to be able to take care of the children who were a part of their home. This is what has motivated us to pursue microcredit as a means to help the children of Uganda.</p>

<p>In the U.S. it is hard to believe that a $25-$50 dollar business loan can really help someone. But, in places such as East Africa many times this is all that is needed to spur growth and allow individuals to break out of the cycle of poverty. In rural Uganda the majority of the population is self employed. People’s businesses range from peasant farming, petty trading, working in small restaurants, bars, hotels, while others sell foodstuffs and old clothes in the market. Over 80% of generated income goes directly to food, and sometimes even more than that. What little money that is left over usually goes to lodging and other small obligations. Needless to say this does not leave any extra money to invest back into a business. The money borrowed through microcredit could be used to expand an existing business or to start a new one. By providing credit, on easy terms, a farmer or peasant caught in the cycle of poverty will now be empowered to break free. We believe that microcredit will be one of the key factors to seeing extreme poverty eliminated. With an emphasis on the children EAMP is specifically targeting single mothers living in extreme poverty.</p>

<p>For More information please see our Microcredit Project page</p>
</div>
<div class="center hero-unit">
<h3>Sustainability Project</h3>

<p>In our effort to help change the lives of the children living in extreme poverty we have concluded that one of the biggest needs in East Africa is to help local charities become self-sustaining. While traveling throughout East Africa we met hundreds of people who had a passion to see their country changed. Many of them had already started charities like New Hope Orphanage. New Hope is a grassroots, non-profit organization serving the orphans and vulnerable children caught up in the twin crises of HIV/AIDS and extreme poverty.</p>

<p>New Hope provides food, healthcare, education and a home to over seventy desperately needy children. New Hope is motivated by God’s compassion for the poor and love for the helpless, and seeks to protect the most defenseless members of African society, to release them from the bondage of poverty, and to show them love, give them hope, and lead them to a bright future.</p>

<p>When we first visited New Hope we were very impressed by the work they were doing, and the difference they were making in their local community. As a Ugandan organization with little outside support, however, donor funds were very limited, and there were times when New Hope worried they would not be able to continue operating and supporting the children in their care.</p>

<p>We came across many organizations and heard stories of even more “home grown” charities that were not able to continue, and had to turn the children, in their care, back out to the streets. It is for this reason why we emphasize sustainability in all of our programs, and seek to team up with currently operating nonprofits. We desire to work hand in hand to enable them to generate sustainable sources of income, and reduce their reliance on outside donor support.</p>

<p>To view our current initiatives please visit the Sustainability Project page</p>
</div>