// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;

float: right;
margin-right: 100px;
margin-top: 350px;
text-shadow: 0.2em 0.2em 0.3em black;
}

.header h1 a {
font-size: 55px;
	color: #fff !important;
}

.header h1 a:hover {
	color: #e0e0e0 !important;
}
.header h3 a {
font-size: 35px;
	color: #fff !important;
}

.header h3 a:hover {
	color: #e0e0e0 !important;
}
.head img {
margin-right: 15px;
margin-bottom: 5px;

-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}
.contact {
float: right;
margin-right: 75px;
}
.donate img {
margin-right: 15px;
margin-bottom: 15px;

-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}
.micro img {
margin-right: 15px;
margin-left: 15px;
margin-bottom: 15px;

-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}
.beds img {
margin-right: 15px;
margin-left: 15px;
margin-bottom: 15px;

-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}
.contact {
	text-align:center;
}
